/*
This is styling for Project 2
*/
body{
    color: black;
    background-image: url("images/MathRepeating.png");
    background-repeat: repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.233);
    margin: 0px;
    padding: 0px;
}


.navbar{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    list-style-type: none;
    border-radius: 15px;
    line-height: 100px;
    background-image: url("../p1/images/Repeating2.jpg");
    background-repeat: repeat;
}

.logo{
    max-width:75px;
    flex-shrink: 0;
    margin-right: 30%;
}

.navbar li{
    margin-left: 0px;
}

.navbar li a{
    margin: 15px;
    text-decoration: none;    
    color: brown;
    border-radius: 15px;
    padding: 20px;
}

.navbar li a:hover{
    background-color: rgb(248, 248, 248);
    color: wheat;
}

.flex-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-box a{
    background-color: rgba(223, 21, 31, 0.849);
    margin: 25px;
    padding: 10px;
    border: rgb(0, 0, 0) solid;
    text-decoration: none;
    border-radius: 25px;
}

.flex-box a:hover{
    background-color: rgba(46, 33, 219, 0.863);
}

.flex-box a h2{
    text-align: center;
    text-decoration: none;
    text-wrap: balance;
    border: rgb(0, 0, 0) solid;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(196, 13, 68, 0.589);
}

.flex-box img{
    border-radius: 20px;
    border: rgb(5, 3, 3) solid;
    width: 200px;
    height: 230px;
}

#ShinyButton{
    display: flex;
    box-sizing: content-box;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #ffd0009a;
    color: #000000;
    border: black solid 2px;
    border-radius: 20px;
    left: 20px;
    top: 40px;
    font-size: 15px;
    padding: 25px;
    text-overflow: none;

}

.homeButton{
    position: absolute;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 30px;
    background-color: rgba(0, 0, 255, 0.664);
    border-radius: 10px;
    padding: 10px;
    border: black, solid, 2px;
}

.homeButtonReg{
    position: relative;
    display: flex;
}

#calc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: black solid 5px;    
    border-radius: 10px;
}

#calc input{
    border: gray solid 2px;
    width: 142px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#calc button{
    border: rgb(0, 0, 0) dashed 2px;
    margin: 0px;
    padding: 0px;
    width: 75px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#opo{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

#history{
    position: absolute;
    display: block;
    left: 150px;
    top: 120px;
    border: black solid 1px;
    overflow-y: scroll;
    max-height: 500px;
    background-color: rgba(78, 80, 155, 0.719);
    border-radius: 10px;
}




